.main-calls {
    &__info {
        height: 80px;
        display: flex;
        align-items: center;
        gap: 48px;
        justify-content: flex-end;
    }
    &__filters {
        display: flex;
        justify-content: space-between;
        gap: min(20px);
    }
    &__table {
        margin-top: 7px;
        margin-bottom: 546px;
    }
}