.search-site {
  position: relative;
  height: 48px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    .search-site {
      &__default {
        display: none;
      }
      &__form {
        display: block;
      }
    }
    svg {
      path {
        fill: var(--accent);
      }
    }
  }
  &__form {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
    width: 482px;
    height: 48px;
    padding: 4px 0px;
    .form {
      background-color: var(--white);
      display: flex;
      gap: 12px;
      align-items: center;
      cursor: pointer;
      padding: 8px 12px 8px 18px;
      border: 1px solid var(--accent);
      border-radius: 48px;
      &__input {
        border: none;
        width: 100%;
        font-size: 14px;
        line-height: 140%;
        &:hover,
        &:active,
        &:focus {
          outline: 0;
        }
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
          display: inline-block;
          width: 24px;
          height: 24px;
          background: url("/images/icons/close.svg");
        }
      }
    }
  }
}
