.filter-calls {
  display: inline-flex;
  align-items: center;
  gap: 48px;
  font-size: 14px;
  line-height: 148%;
  &__reset {
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    display: none;
    white-space: nowrap;

    &--active {
      display: block;
      color: var(--accent, #002cfb);
      display: flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;

      svg path {
        fill: var(--accent);
      }
    }
  }
  &__filters {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
  }
}
