.search-calls__form {
  display: flex;
  width: 482px;
  height: 48px;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  .search-calls {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    width: 100%;
    &:focus-within {
      padding: 8px 12px 8px 18px;

      border: 1px solid var(--accent);
      border-radius: 48px;
    }
    &__label {
      border: none;
      background-color: var(--background);
      width: 100%;
      &:hover,
      &:active,
      &:focus {
        outline: 0;
      }
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("/images/icons/close.svg");
      }

      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: var(--text-secondary);
      }
    }
    &:hover {
      .search-calls {
        &__icon {
          svg path {
            fill: var(--accent);
          }
        }
      }
    }
  }
}
